<link rel="stylesheet" href="../../../front/src/templates/clientes/clientesCSS.css">
<link rel="stylesheet" href="../../../front/src/templates/header/header-dashboard.css">
<link rel="stylesheet" href="../../../front/src/templates/buttons/botoncitos.css">

<div class="container">
    
    <div class="text-center pruebitaheader">
        <p class="">Proveedores</p>
    </div>










    <br><br>



    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Buscar clientes" aria-label="Search"
            aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>buscar</button>
    </div>





    <br><br><br>



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>Cuenta</th>
                <th>CUIT/CUIL</th>
                <th>Nombre</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody id="provTableBody">
            <!-- Aquí se agregarán las filas dinámicamente -->
        </tbody>
    </table>

    <div id="addProvForm" class="d-none">
        <h2>Agregar Proveedor</h2>
        <form onsubmit="addProv(event)">
            <div class="mb-3">
                <label for="provRazonSoc" class="form-label">Razón Social</label>
                <input type="text" class="form-control" id="provRazonSoc" required>
            </div>
            <div class="mb-3">
                <label for="provCuenta" class="form-label">Cuenta</label>
                <input type="text" class="form-control" id="provCuenta" required>
            </div>
            <div class="mb-3">
                <label for="provCUITCUIL" class="form-label">CUIT/CUIL</label>
                <input type="text" class="form-control" id="provCUITCUIL" required>
            </div>
            <div class="mb-3">
                <label for="provNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="provNombre" required>
            </div>
            <div class="mb-3">
                <label for="provDireccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="provDireccion" required>
            </div>
            <button type="submit" class="btn generar-btn mb-3">Agregar Proveedor</button>
        </form>
    </div>
    <div class="acciones-btns">
        <button class="btn generar-btn mb-3" onclick="showAddProvForm()">Agregar</button>
        <button class="btn generar-btn mb-3" onclick="showAddProvForm()">Modificar</button>
        <button class="btn generar-btn mb-3" onclick="showAddProvForm()">Eliminar</button>
        <button class="btn generar-btn mb-3" onclick="showAddProvForm()">Copiar</button>
    </div>
</div>

<link rel="stylesheet" href="./modulos/modulosGral.css">