<link rel="stylesheet" href="../../../src/templates/clientes/clientesCSS.css">
<link rel="stylesheet" href="../../../src/templates/header/header-dashboard.css">
<link rel="stylesheet" href="../../../src/templates/buttons/botoncitos.css">
<link rel="stylesheet" href="../../../src/templates/rutas/repartoRutas.css">


<div class="container">

    <div class="text-center pruebitaheader">
        <p class="">Rutas</p>
    </div>


    <div class="container d-flex mt-5">
        <div class="col-md-3">
            <p>Localidad: Villa María</p>
        </div>
        <div class="col-md-3">
            <p>Zona: 1</p>
        </div>
    
    
        <div class="text-end col-md-6">
        
            <button class="btn btn-primary me-2">
                <i class="bi bi-plus-circle"></i>
                CREAR RECORRIDO</button>
            <button class="btn btn-primary me-2">
                <i class="bi bi-emoji-wink"></i>
                GENERAR RECORRIDO (AI)</button>
        </div>
    
    </div>
    <div class="mt-5 containerr">


        <!-- Información de la localidad -->

        <div class="row my-4">

            <div class="col-md-6">

                <img src="../../../modulos/imgs_muestra/rutareparto.jpg" class="img-fluid" alt="Mapa de Zonas">
            </div>

            <!-- Tabla de subdivisiones -->
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Cliente</th>
                            <th>Dirección</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ignacio Druetta</td>
                            <td>Dirección genérica 1234</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Carla Colombaro</td>
                            <td>Dirección genérica 1234</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Diego Dubois</td>
                            <td>Dirección genérica 1234</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Rodolfo Hurtado</td>
                            <td>Dirección genérica 1234</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Sandra Olivero</td>
                            <td>Dirección genérica 1234</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Federico Castellani</td>
                            <td>Dirección genérica 1234</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-end">
                    <button class="btn btn-secondary">Modificar Zona</button>
                </div>
            </div>

        </div>

        <!-- Botones de acciones -->

    </div>








</div>

<link rel="stylesheet" href="./modulos/modulosGral.css">