<link rel="stylesheet" href="../../../front/src/templates/header/header-dashboard.css">
<link rel="stylesheet" href="../../../front/src/templates/buttons/botoncitos.css">
<link rel="stylesheet" href="../../../front/src/templates/clientes/clientesPedidosModal.css">

<div class="modal fade" id="pedidoModal" tabindex="-1" aria-labelledby="pedidoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titulo">
        <h5 class="modal-title" id="pedidoModalLabel">Generar Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="pedidoForm">
          <!-- Selección de cliente y tipo de pedido -->
          <div class="mb-3 ">
            <label for="selectClient" class="form-label">Buscar Cliente</label>
            <select id="selectCliente" class="form-select">
              <!-- Opciones de clientes -->
            </select>
          </div>

          <div class="row mb-3">
            <label class="form-label">Tipo de Pedido</label>
            <label class="seleccionePago">Seleccione medio de pago</label>
            <div>
              <select id="medioDePago" class="form-select">
                <!-- Opciones de clientes -->
              </select>
            </div>
          </div>

       
          <tbody id="detallePedidoBody">
            <tr>
              <td>
                <select class="form-select selectProducto" id="comboProdPedido">
                </select>
              </td>
              <td class="descripcionProducto">detalle</td>
              <td>
                <input type="number" class="form-control cantidadProducto" min="1" value="1">
              </td>
              <td class="precioUnitario">precio unitario</td>
              <td class="subtotal">subtotal</td>
            </tr>
          </tbody>
          

          <!-- Total -->
          <div class="d-flex justify-content-end">
            <h5>Total: <span id="totalPedido">0</span></h5>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn botoncito" id="generarPedidoBtn">Generar</button>
      </div>
    </div>
  </div>
</div>