<link rel="stylesheet" href="../../../front/src/templates/clientes/clientesCSS.css">
<link rel="stylesheet" href="../../../front/src/templates/header/header-dashboard.css">
<link rel="stylesheet" href="../../../front/src/templates/buttons/botoncitos.css">

<body>
    <div class="pedidos align-items-center">

        <div class="text-center header-tittlee header-fontt pruebitaheader">
            <p class="">Clientes</p>
        </div>



        <div class="container">

            <div class="container d-flex justify-content-center">
                <input type="search" class="form-control rounded pruebera22 barra-busqueda"
                    placeholder="Buscar clientes" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn generar-btn" data-mdb-ripple-init>buscar</button>
            </div>
            <br>
            <br>

            <ul class="responsive-table addClientForm">
                <li class="table-header">
                    <div class="col col-1 text-start">Nombre</div>
                    <div class="col col-2 text-start justify-content-start">Apellido</div>
                    <div class="col col-3 text-start">Cuenta</div>
                    <div class="col col-4 text-start">Barrio</div>
                    <div class="col col-5 text-start">Dirección</div>
                    <div class="col col-6 text-center">Cuenta corriente</div>
                    <div class="col col-7 text-center">Estado</div>
                </li>
                <div id="clientTableBody">
                    <!-- aca van los clieentes -->
                </div>
                <div id="addClientForm" class="d-none">

                    <h2>Agregar Cliente</h2>
                    <form onsubmit="addClient(event)">
                        <div class="mb-3">
                            <label for="clientName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="clientName" required>
                        </div>
                        <div class="mb-3">
                            <label for="clientLastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="clientLastName" required>
                        </div>
                        <div class="mb-3">
                            <label for="clientAddress" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="clientAddress" required>
                        </div>
                        <div class="mb-3">
                            <label for="clientRazonSoc" class="form-label">Razón Social</label>
                            <input type="text" class="form-control" id="clientRazonSoc" required>
                        </div>
                        <div class="mb-3">
                            <label for="clientBarrio" class="form-label">Barrio</label>
                            <input type="text" class="form-control" id="clientBarrio" required>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Agregar Cliente</button>
                    </form>
                </div>



                <div class="acciones-btns">
                    <button id="btnAgregarCliente" type="button" class="btn generar-btn mt-4" onclick="showAddClientForm()">Agregar</button>
                    <button type="button" class="btn generar-btn mt-4" onclick="showAddClientForm()">Modificar</button>
                    <button type="button" class="btn generar-btn mt-4" onclick="showAddClientForm()">Eliminar</button>
                    <button type="button" class="btn generar-btn mt-4" onclick="showAddClientForm()">Copiar</button>
                </div>
            </ul>

        </div>

    </div>





    <link rel="stylesheet" href="./src/modulosGral.css">
</body>